[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
algorithm-x = "*"

[dev-packages]
icecream = "*"
setuptools = "*"

[requires]
python_version = "3.13"
